<div>
  <div>
    <div>
      <%= render 'books/new', book: Book.new, user: User.find(params[:id]) %>
    </div>
    <div>
      <%= render 'books/all', books: @user.books.page(params[:page]).reverse_order %>
    </div>
  </div>
</div>
