<div>
  <div>
    <div>
      <%= render 'books/new', book: Book.new %>
    </div>
  </div>

  <div>
      <% @books.each do |book| %>
       <div>
         <p><%= book.title %></p>
         <p><%= book.body %></p>
       </div>
      <% end %>

  </div>
</div>