<div>
  <div>
    <div>
      <%= render 'users/info', user: current_user %>
      <%= render 'books/new', book: Book.new %>
    </div>
  </div>

  <div>
    <%= render 'books/all', books: Book.page(params[:page]).reverse_order %>
  </div>
</div>